{% extends "layout.html" %}
{% block body %}
<body>
	<br></br>

	<div class="container">
		<h3>{{ pretty_date_today }}</h3>
		<div class="row">
			<div class="col-lg-5">
				<div class="list-group">
					{% for game in games %}
						<!-- check if game is close -->
						{% if game["GAME_STATUS"] == 4 and game["GAME_MARGIN"] < 10 %}
							<a class="close-score-boxes list-group-item list-group-item-action" href="{{ game["GAME_STREAM"][0] }}">
								<div class="row">
									<div class="col-xs-4">
										{{ game["TEAM_1_ABBREVIATION"] }} {{ game["TEAM_1_PTS"] }}
										<br>
										{{ game["TEAM_1_WINS_LOSSES"] }}
									</div>
									<div class="col-xs-4">
										-&nbsp;
									</div>
									<div class="col-xs-4">
										{{ game["TEAM_2_ABBREVIATION"] }} {{ game["TEAM_2_PTS"] }}
										<br>
										{{ game["TEAM_2_WINS_LOSSES"] }}
									</div>
								</div>
							</a>
						{% else %}
							<a class="score-boxes list-group-item list-group-item-action" href="{{ game["GAME_STREAM"][0] }}">
								<div class="row">
									<div class="col-xs-4">
										{{ game["TEAM_1_ABBREVIATION"] }} {{ game["TEAM_1_PTS"] }}
										<br>
										{{ game["TEAM_1_WINS_LOSSES"] }}
									</div>
									<div class="col-xs-4">
										-&nbsp;
									</div>
									<div class="col-xs-4">
										{{ game["TEAM_2_ABBREVIATION"] }} {{ game["TEAM_2_PTS"] }}
										<br>
										{{ game["TEAM_2_WINS_LOSSES"] }}
									</div>
								</div>
							</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}